In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import pandas_datareader.data as web
import datetime
import seaborn as sns 
from scipy import stats
from scipy.stats import norm
from scipy.stats import skew
from sklearn.preprocessing import StandardScaler
sns.set(style = "whitegrid", color_codes = True)
sns.set(font_scale = 1)
#from astropy.table import Table, Column

In [4]:
#list of all components of CAC40
components =['SOLB.BR','LHN.PA','NOKIA.PA','ACA.PA','ATO.PA','SAF.PA','AI.PA','CA.PA','FP.PA','OR.PA',
             'AC.PA','EN.PA','SAN','CS.PA','BN.PA','RI.PA','MC.PA','SW.PA','ML.PA','KER.PA','UG.PA',
             'EI.PA','SU.PA','VIE.PA','UL','SGO.PA','CAP.PA','DG.PA','VIV.PA','PUB.PA','GLE.PA','BNP.PA',
             'RNO.PA','ORA.PA','ENGI.PA','LR.PA','FR.PA','FTI.PA','MT.AS','AIR.PA']

In [5]:
#Choose Close Value
ls_key = 'Adj Close'
start = datetime.datetime(2016, 1, 1)
end = datetime.datetime(2017, 9, 7)
df_component = web.DataReader(components, 'yahoo',start,end)
dataComponent = df_component[ls_key]
dataComponent.rename(columns = {'SOLB.BR':'Solvay','LHN.PA':'LafargeHolcim','NOKIA.PA':'Nokia','ACA.PA':'Credit Agricole','ATO.PA':'Atos','SAF.PA':'Safran','AI.PA':'Air Liquide','CA.PA':'Carrefour','FP.PA':'Total','OR.PA':'Loreal','AC.PA':'Accor Hotels','EN.PA':'Bouygues','SAN':'Sanofi','CS.PA':'Axa','BN.PA':'Danone','RI.PA':'Pernod Ricard','MC.PA':'Lvmh','SW.PA':'Sodexo','ML.PA':'Michelin','KER.PA':'Kering','UG.PA':'Peugeot','EI.PA':'Essilor Intl','SU.PA':'Schneider Electric','VIE.PA':'Veolia Environ','UL':'Unibail-Rodamco','SGO.PA':'Saint Gobain','CAP.PA':'Cap Gemini','DG.PA':'Vinci','VIV.PA':'Vivendi','PUB.PA':'Publicis Groupe','GLE.PA':'Societe Generale','BNP.PA':'Bnp Paribas','RNO.PA':'Renault','ORA.PA':'Orange','ENGI.PA':'Engie','LR.PA':'Legrand SA','FR.PA':'Valeo','FTI.PA':'TechnipFMC','MT.AS':'Arcelor Mittal','AIR.PA':'Airbus'}, inplace= True)

In [75]:
dataComponent.head()

,Accor Hotels,Credit Agricole,Air Liquide,Airbus,Atos,Danone,Bnp Paribas,Carrefour,Cap Gemini,Axa,...,Safran,Sanofi,Saint Gobain,Solvay,Schneider Electric,Sodexo,Peugeot,Unibail-Rodamco,Veolia Environ,Vivendi
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-04,37.521660,9.546578,84.394211,58.286797,NaN,57.665009,46.812660,25.209225,80.201035,22.059767,...,61.005882,4.421038,36.653473,89.564995,47.984207,84.214905,15.087237,39.961536,19.882721,16.853674
2016-01-05,37.174950,9.587029,83.892059,59.464787,NaN,58.025352,47.059425,25.214071,80.752815,22.068830,...,60.682579,4.337970,36.677082,89.443703,48.199760,85.577354,15.223773,39.866837,19.841221,16.937149
2016-01-06,35.325836,9.357803,82.720497,58.679459,NaN,57.560699,46.154610,24.778009,80.152641,21.987246,...,60.251511,4.162605,35.978203,86.784462,47.346916,85.424919,14.424062,39.298664,19.744389,16.748226
2016-01-07,34.887630,9.128578,80.812508,57.501465,NaN,56.659832,45.140121,24.535753,78.719963,21.475071,...,59.075871,4.079538,34.429333,84.265182,46.372238,83.929070,14.029083,38.683140,19.569170,16.748226
2016-01-08,35.658100,9.002729,79.582382,56.275585,NaN,56.640865,43.869728,24.371017,77.296959,21.071678,...,58.399883,3.959551,34.112946,80.831505,46.536243,83.471741,13.868166,38.304359,19.509228,16.475826

In [76]:
dataComponent.isnull().mean().sort_values(ascending = False)

Atos                  0.956422
Kering                0.956422
Valeo                 0.811927
TechnipFMC            0.612385
Safran                0.339450
Unibail-Rodamco       0.027523
Sanofi                0.027523
Solvay                0.016055
Vivendi               0.011468
Vinci                 0.011468
Engie                 0.011468
Bouygues              0.011468
Essilor Intl          0.011468
Bnp Paribas           0.011468
Axa                   0.011468
Cap Gemini            0.011468
Carrefour             0.011468
Danone                0.011468
Airbus                0.011468
Credit Agricole       0.011468
Societe Generale      0.011468
Accor Hotels          0.011468
Veolia Environ        0.011468
Orange                0.011468
Peugeot               0.011468
Sodexo                0.011468
Schneider Electric    0.011468
Saint Gobain          0.011468
Renault               0.011468
Pernod Ricard         0.011468
Publicis Groupe       0.011468
Michelin              0.011468
Lvmh                  0.011468
Legrand SA            0.006881
Loreal                0.006881
Nokia                 0.006881
Arcelor Mittal        0.006881
Total                 0.006881
Air Liquide           0.006881
LafargeHolcim         0.006881
dtype: float64

In [77]:
dataComponent.to_csv("data/dataComponent.csv", sep =",")

In [60]:
#index Cac40
Cac = ['^FCHI']

In [84]:
df_cac = web.DataReader(Cac, 'yahoo',start,end)
cac = df_cac[ls_key]
cac.rename(columns = {'^FCHI':'CAC40'}, inplace= True)

In [85]:
cac.to_csv("cac")

CAC40    1
dtype: int64

In [1]:
stocks = ['AAPL','GOOG','AXP', 'IBM', 'XOM', 'F']

In [ ]:
daweb.DataReader(components, 'yahoo',start,end)