In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import pandas_datareader.data as web
import datetime
import seaborn as sns 
from scipy import stats
from scipy.stats import norm
from scipy.stats import skew
from sklearn.preprocessing import StandardScaler
sns.set(style = "whitegrid", color_codes = True)
sns.set(font_scale = 1)
#from astropy.table import Table, Column

In [4]:
#list of all components of CAC40
components =['SOLB.BR','LHN.PA','NOKIA.PA','ACA.PA','ATO.PA','SAF.PA','AI.PA','CA.PA','FP.PA','OR.PA',
             'AC.PA','EN.PA','SAN','CS.PA','BN.PA','RI.PA','MC.PA','SW.PA','ML.PA','KER.PA','UG.PA',
             'EI.PA','SU.PA','VIE.PA','UL','SGO.PA','CAP.PA','DG.PA','VIV.PA','PUB.PA','GLE.PA','BNP.PA',
             'RNO.PA','ORA.PA','ENGI.PA','LR.PA','FR.PA','FTI.PA','MT.AS','AIR.PA']

In [5]:
#Choose Close Value
ls_key = 'Adj Close'
start = datetime.datetime(2016, 1, 1)
end = datetime.datetime(2017, 9, 7)
df_component = web.DataReader(components, 'yahoo',start,end)
dataComponent = df_component[ls_key]
dataComponent.rename(columns = {'SOLB.BR':'Solvay','LHN.PA':'LafargeHolcim','NOKIA.PA':'Nokia','ACA.PA':'Credit Agricole','ATO.PA':'Atos','SAF.PA':'Safran','AI.PA':'Air Liquide','CA.PA':'Carrefour','FP.PA':'Total','OR.PA':'Loreal','AC.PA':'Accor Hotels','EN.PA':'Bouygues','SAN':'Sanofi','CS.PA':'Axa','BN.PA':'Danone','RI.PA':'Pernod Ricard','MC.PA':'Lvmh','SW.PA':'Sodexo','ML.PA':'Michelin','KER.PA':'Kering','UG.PA':'Peugeot','EI.PA':'Essilor Intl','SU.PA':'Schneider Electric','VIE.PA':'Veolia Environ','UL':'Unibail-Rodamco','SGO.PA':'Saint Gobain','CAP.PA':'Cap Gemini','DG.PA':'Vinci','VIV.PA':'Vivendi','PUB.PA':'Publicis Groupe','GLE.PA':'Societe Generale','BNP.PA':'Bnp Paribas','RNO.PA':'Renault','ORA.PA':'Orange','ENGI.PA':'Engie','LR.PA':'Legrand SA','FR.PA':'Valeo','FTI.PA':'TechnipFMC','MT.AS':'Arcelor Mittal','AIR.PA':'Airbus'}, inplace= True)

In [6]:
dataComponent.head()

,Accor Hotels,Credit Agricole,Air Liquide,Airbus,Atos,Danone,Bnp Paribas,Carrefour,Cap Gemini,Axa,...,Safran,Sanofi,Saint Gobain,Solvay,Schneider Electric,Sodexo,Peugeot,Unibail-Rodamco,Veolia Environ,Vivendi
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-04,37.521660,9.546578,84.394211,58.286797,NaN,57.665009,46.812660,25.209225,80.201035,22.059767,...,61.005882,4.421038,36.653473,89.564995,47.984207,84.214905,15.087237,39.961536,19.882721,16.853674
2016-01-05,37.174950,9.587029,83.892059,59.464787,NaN,58.025352,47.059425,25.214071,80.752815,22.068830,...,60.682579,4.337970,36.677082,89.443703,48.199760,85.577354,15.223773,39.866837,19.841221,16.937149
2016-01-06,35.325836,9.357803,82.720497,58.679459,NaN,57.560699,46.154610,24.778009,80.152641,21.987246,...,60.251511,4.162605,35.978203,86.784462,47.346916,85.424919,14.424062,39.298664,19.744389,16.748226
2016-01-07,34.887630,9.128578,80.812508,57.501465,NaN,56.659832,45.140121,24.535753,78.719963,21.475071,...,59.075871,4.079538,34.429333,84.265182,46.372238,83.929070,14.029083,38.683140,19.569170,16.748226
2016-01-08,35.658100,9.002729,79.582382,56.275585,NaN,56.640865,43.869728,24.371017,77.296959,21.071678,...,58.399883,3.959551,34.112946,80.831505,46.536243,83.471741,13.868166,38.304359,19.509228,16.475826

In [7]:
dataComponent.isnull().mean().sort_values(ascending = False)

Kering                0.954233
Atos                  0.954233
Valeo                 0.810069
TechnipFMC            0.610984
Safran                0.338673
Unibail-Rodamco       0.029748
Sanofi                0.029748
Solvay                0.016018
Arcelor Mittal        0.016018
Vinci                 0.011442
Engie                 0.011442
Bouygues              0.011442
Essilor Intl          0.011442
Vivendi               0.011442
Axa                   0.011442
Cap Gemini            0.011442
Societe Generale      0.011442
Bnp Paribas           0.011442
Danone                0.011442
Airbus                0.011442
Credit Agricole       0.011442
Carrefour             0.011442
Accor Hotels          0.011442
Veolia Environ        0.011442
Pernod Ricard         0.011442
Peugeot               0.011442
Sodexo                0.011442
Schneider Electric    0.011442
Saint Gobain          0.011442
Renault               0.011442
Publicis Groupe       0.011442
Orange                0.011442
Michelin              0.011442
Lvmh                  0.011442
Legrand SA            0.006865
Loreal                0.006865
Nokia                 0.006865
Air Liquide           0.006865
Total                 0.006865
LafargeHolcim         0.006865
dtype: float64

In [77]:
dataComponent.to_csv("data/dataComponent.csv", sep =",")

In [60]:
#index Cac40
Cac = ['^FCHI']

In [84]:
df_cac = web.DataReader(Cac, 'yahoo',start,end)
cac = df_cac[ls_key]
cac.rename(columns = {'^FCHI':'CAC40'}, inplace= True)

In [85]:
cac.to_csv("cac")

CAC40    1
dtype: int64

In [8]:
stocks = ['AAPL','GOOG','AMZN','AXP','AMP','BAC','BA','KO','FB','IBM','GE', 'GS','HP', 'XOM', 'F','SPX']

In [24]:
getData = web.DataReader('^GSPC', 'yahoo',start,end)

In [25]:
getData.shape

(424, 6)

In [27]:
getData.isnull().mean()

Open         0.0
High         0.0
Low          0.0
Close        0.0
Adj Close    0.0
Volume       0.0
dtype: float64

In [28]:
getData.to_csv('SPX.csv', sep = ",")

In [29]:
getData

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-01-04,2038.199951,2038.199951,1989.680054,2012.660034,2012.660034,4304880000
2016-01-05,2013.780029,2021.939941,2004.170044,2016.709961,2016.709961,3706620000
2016-01-06,2011.709961,2011.709961,1979.050049,1990.260010,1990.260010,4336660000
2016-01-07,1985.319946,1985.319946,1938.829956,1943.089966,1943.089966,5076590000
2016-01-08,1945.969971,1960.400024,1918.459961,1922.030029,1922.030029,4664940000
2016-01-11,1926.119995,1935.650024,1901.099976,1923.670044,1923.670044,4607290000
2016-01-12,1927.829956,1947.380005,1914.349976,1938.680054,1938.680054,4887260000
2016-01-13,1940.339966,1950.329956,1886.410034,1890.280029,1890.280029,5087030000
2016-01-14,1891.680054,1934.469971,1878.930054,1921.839966,1921.839966,5241110000
2016-01-15,1916.680054,1916.680054,1857.829956,1880.329956,1880.329956,5468460000
2016-01-19,1888.660034,1901.439941,1864.599976,1881.329956,1881.329956,4928350000
2016-01-20,1876.180054,1876.180054,1812.290039,1859.329956,1859.329956,6416070000
2016-01-21,1861.459961,1889.849976,1848.979980,1868.989990,1868.989990,5078810000
2016-01-22,1877.400024,1908.849976,1877.400024,1906.900024,1906.900024,4901760000
2016-01-25,1906.280029,1906.280029,1875.969971,1877.079956,1877.079956,4401380000
2016-01-26,1878.790039,1906.729980,1878.790039,1903.630005,1903.630005,4357940000
2016-01-27,1902.520020,1916.989990,1872.699951,1882.949951,1882.949951,4754040000
2016-01-28,1885.219971,1902.959961,1873.650024,1893.359985,1893.359985,4693010000
2016-01-29,1894.000000,1940.239990,1894.000000,1940.239990,1940.239990,5497570000
2016-02-01,1936.939941,1947.199951,1920.300049,1939.380005,1939.380005,4322530000
2016-02-02,1935.260010,1935.260010,1897.290039,1903.030029,1903.030029,4463190000
2016-02-03,1907.069946,1918.010010,1872.229980,1912.530029,1912.530029,5172950000
2016-02-04,1911.670044,1927.349976,1900.520020,1915.449951,1915.449951,5193320000
2016-02-05,1913.069946,1913.069946,1872.650024,1880.050049,1880.050049,4929940000
2016-02-08,1873.250000,1873.250000,1828.459961,1853.439941,1853.439941,5636460000
2016-02-09,1848.459961,1868.250000,1834.939941,1852.209961,1852.209961,5183220000
2016-02-10,1857.099976,1881.599976,1850.319946,1851.859985,1851.859985,4471170000
2016-02-11,1847.000000,1847.000000,1810.099976,1829.079956,1829.079956,5500800000
2016-02-12,1833.400024,1864.780029,1833.400024,1864.780029,1864.780029,4696920000
2016-02-16,1871.439941,1895.770020,1871.439941,1895.579956,1895.579956,4570670000
...,...,...,...,...,...,...
2017-07-27,2482.760010,2484.040039,2459.929932,2475.419922,2475.419922,3995520000
2017-07-28,2469.120117,2473.530029,2464.659912,2472.100098,2472.100098,3294770000
2017-07-31,2475.939941,2477.959961,2468.530029,2470.300049,2470.300049,3469210000
2017-08-01,2477.100098,2478.510010,2471.139893,2476.350098,2476.350098,3460860000
2017-08-02,2480.379883,2480.379883,2466.479980,2477.570068,2477.570068,3478580000
2017-08-03,2476.030029,2476.030029,2468.850098,2472.159912,2472.159912,3645020000
2017-08-04,2476.879883,2480.000000,2472.080078,2476.830078,2476.830078,3235140000
2017-08-07,2477.139893,2480.949951,2475.879883,2480.909912,2480.909912,2931780000
2017-08-08,2478.350098,2490.870117,2470.320068,2474.919922,2474.919922,3344640000
2017-08-09,2465.350098,2474.409912,2462.080078,2474.020020,2474.020020,3308060000
2017-08-10,2465.379883,2465.379883,2437.750000,2438.209961,2438.209961,3621070000
2017-08-11,2441.040039,2448.090088,2437.850098,2441.320068,2441.320068,3159930000
2017-08-14,2454.959961,2468.219971,2454.959961,2465.840088,2465.840088,2822550000
2017-08-15,2468.659912,2468.899902,2461.610107,2464.610107,2464.610107,2913100000
2017-08-16,2468.629883,2474.929932,2463.860107,2468.110107,2468.110107,2953650000
2017-08-17,2462.949951,2465.020020,2430.010010,2430.010010,2430.010010,3142620000
2017-08-18,2427.639893,2440.270020,2420.689941,2425.550049,2425.550049,3415680000
2017-08-21,2425.500000,2430.580078,2417.350098,2428.370117,2428.370117,2788150000
2017-08-22,2433.750000,2454.770020,2433.669922,2452.510010,2452.510010,2777490000
2017-08-23,2444.879883,2448.909912,2441.419922,2444.040039,2444.040039,2785290000
2017-08-24,2447.909912,2450.389893,2436.189941,2438.969971,2438.969971,2846590000
2017-08-25,2444.719971,2453.959961,2442.219971,2443.050049,2443.050049,2588780000
2017-08-28,2447.350098,2449.120117,2439.030029,2444.239990,2444.239990,2677700000
2017-08-29,2431.939941,2449.189941,2428.199951,2446.300049,2446.300049,2737580000
2017-08-30,2446.060059,2460.310059,2443.770020,2457.590088,2457.590088,2633660000
2017-08-31,2462.649902,2475.010010,2462.649902,2471.649902,2471.649902,3348110000
2017-09-01,2474.419922,2480.379883,2473.850098,2476.550049,2476.550049,2710730000
2017-09-05,2470.350098,2471.969971,2446.550049,2457.850098,2457.850098,3490260000
2017-09-06,2463.830078,2469.639893,2459.199951,2465.540039,2465.540039,3374410000
2017-09-07,2468.060059,2468.620117,2460.290039,2465.100098,2465.100098,3353930000